/* General Style */
* {
  box-sizing: border-box;
}

body {
  color: #222;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

h2 {
  font-size: 2em;
  letter-spacing: 1px;
}

p {
  font-size: 1.5em;
  
}

/******************
 * header style *
******************/

/* Nav Style */
.top-navigation {
  position: fixed;
  width: 100%;
  padding-top: 10px;
  padding-right: 10px;
  background-color: #222;
  top: 0;
  z-index: 1;
}

.top-navigation ul {
  float: right;
}

.top-navigation li {
  display: inline-block;
  letter-spacing: .2em;
  margin-left: 1em;
}

.top-navigation li a {
  text-transform: uppercase;
  color: #ecf0f1;
  text-decoration: none;
}

.top-navigation li a:hover {
  cursor: pointer;
  transition: 1000ms;
  color: #f1c40f;
}

/* intro section */

#intro-section {
  margin-top: 40px;
  height: 45em;
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("../images/do-what-you-love1.jpg");
  -webkit-box-align:center;
  -webkit-box-pack:center;
  display:-webkit-box;
  border-top: 3px solid grey;
}

.text-circle {
  position: relative;
  width: 25em;
  height: 25em;
  border-radius: 100%;
  background-color: white;
  opacity: 0.7;
}

.circle-text {
  padding-top: 5em;
  text-align: center;
  font-weight: 900;
  color: black;
  text-shadow: 2px 2px 2px grey;
  
}

.circle-text h1 {
  letter-spacing: 1px;
  line-height: 1.5em;
}

/******************
 * content style *
******************/

/* about section */

.about-content {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.about-header, .skills, .work-header {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 35px
}

h2.center-text {
  display: inline-block;
  padding: 10px;
  background-color: #3498db; 
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
}

.about-text {
  margin-top: 20px;
}
.about-image {
  width: 30em;
}

.skill-container {
  margin-top: 2em;
}

.icon-span {
  display: inline-block;
  width: 15em;
  margin-left: 2em;
}

.skills-text {
  text-align: center;
  font-weight: 800;
}

i {
  font-size: 6em;
}

i:hover {
  color: #e74c3c;
  transition: 1000ms;
}

i.icon-heroku {
  padding-left: .5em;
}

i.icon-ruby-on-rails-alt {
  padding-left: .2em;
}

i.icon-java {
  padding-left: .4em;
}

i.icon-css {
  padding-left: .2em;
}

i.icon-html {
  padding-left: .2em;
}

i.icon-javascript-alt {
  padding-left: .2em;
}

/* work section */

#work-section {
  background-color: #34495e;
}

/******************
 * footer style *
******************/

#content-footer {
  padding: 2em 0;
  background-color: #7f8c8d;
  text-align: center;
}

.social > li {
  display: inline-block;
  list-style: none;
  margin-left: 10px;
}

#content-footer > p {
  color: white;
}

#content-footer .social {
  padding: 0;
}

#content-footer a {
  text-decoration: none;
  font-weight: bold;
  color: #f1c40f;
}

/* Media Query */

@media only screen and (max-width: 1024px) {
  
}

@media only screen and (max-width: 768px) {
  
}

@media only screen and (max-width: 480px) {
  .masthead {
    background: none;
    padding: 3em 0;
  }
  
  .masthead-heading {
    font-size: 2em;
    margin-top: 2em;
    text-shadow: none;
  }
  
  .intro-section .intro-content {
    width: 100%;
    display: block;
    height: auto;
  }
  
  .intro-content > h2 {
    margin-top: .5em;
  }
  
  .content-footer {
    font-size: .7em;
  }
}

@media only screen and (max-width: 320px) {

}
