/* General Style */
* {
  box-sizing: border-box;
}

body {
  position: relative;
  color: #222;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

h2 {
  font-size: 2em;
  letter-spacing: 2px;
}

h3 {
  font-size: 1.5em;
  letter-spacing: 2px;
}

p {
  font-size: 1.5em;
  
}

/******************
 * header style *
******************/

/* Nav Style */

.navbar {
  background-color: black;
}



.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-brand:visited {
  color: white;
}

.navbar-default .navbar-brand:hover {
  color: yellow;
  transition: 1000ms;
  text-decoration: none;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.navbar-default .navbar-nav > li > a:visited {
  color: white;
  text-decoration: none;
}

.navbar-default .navbar-nav > li > a:hover {
  color: yellow;
  transition: 1000ms;
  text-decoration: none;
}

.navbar-default .navbar-nav > li.active a {
  color: black;
  text-decoration: none;
}

/* intro section */

#intro-section {
  margin-top: 40px;
  height: 45em;
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../images/do-what-you-love1.jpg");
  -webkit-box-align:center;
  -webkit-box-pack:center;
  display:-webkit-box;
  border-top: 3px solid grey;
  border-bottom: 3px solid grey;
}

.text-circle {
  position: relative;
  width: 25em;
  height: 25em;
  border-radius: 100%;
  background-color: black;
  opacity: 0.6;
}

.circle-text > h1{
  padding-top: 2em;
  text-align: center;
  font-weight: 700;
  color: white;
  text-shadow: 0 0 .2em white;
}

.circle-text h1 {
  letter-spacing: 1px;
  line-height: 1.5em;
}

/******************
 * content style *
******************/

/* about section */

.about-section {
  width: 100%;
  background-color: #FFF7F6;
  box-shadow: 0px 5px 10px 15px gray;
}

.about-header, .skills, .faq-header {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 35px;
  margin-bottom: 1em;
}

h2.center-text {
  display: inline-block;
  padding: 10px;
  background-color: #3498db; 
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  box-shadow: 5px 5px 5px 5px gray;
}

.about-text {
  margin-top: 20px;
}

.about-image {
  width: 25em;
  height: 33em;
}

.about-image2 {
  width: 25em;
  height: 33em;
  display: none;
}

.skill-container {
  margin-top: 2em;
}

.icon-span {
  display: inline-block;
  width: 15em;
  margin-left: 2em;
}

.skills-text {
  text-align: center;
  font-weight: 800;
}

i {
  font-size: 6em;
}

.fa {
  font-size: 6em;
  margin-bottom: .2em
}

i:hover {
  color: #3498db;
  transition: 1000ms;
}

i.icon-heroku {
  padding-left: .5em;
}

i.icon-ruby-on-rails-alt {
  padding-left: .2em;
}

i.icon-java {
  padding-left: .4em;
}

i.icon-css {
  padding-left: .2em;
}

i.icon-html {
  padding-left: .2em;
}

i.icon-javascript-alt {
  padding-left: .2em;
}

/* work section */

.work-header {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 5px;
}

.work-row {
  margin-top: 2em;
}

.work-section {
  background-color: #34495e;
  padding-bottom: 3em;
  background-color: #CFD6D7;
  box-shadow: 0px 5px 10px 10px gray;
}


.work-image {
  width: 100%;
  height: 24em;
  
}


.contenthover { height: 24em; padding:20px 20px 10px 20px; }
.contenthover, .contenthover h3 { color:#fff; }



/* contact section */

.contact-section {
  width: 100%;
  padding-bottom: 2em;
  border-top: 3px solid grey;
}

.contact-text {
  text-align: center;
  padding-top: 1em;
}

.social-network {
  padding: 1em 0;
}

.btn {
  margin: 1em;
}

.social-images {
  margin-top: 1em;
  margin-left: 2em;
}

/* faq section */

.faq-section {
  width: 100%;
  text-align: center;
  padding-bottom: 2em;
  box-shadow: 0px 5px 10px 10px gray;
}

.panel-default > .panel-heading {
  background-color: #3498db;
}

.panel {
  text-align: left;
}

.panel-group {
  width: 60em;
  margin-left: auto;
  margin-right: auto
}

.panel-title {
  font-weight: 700;
  color: #fff;
}

.panel-title a:hover{
  text-decoration: none;
}

.panel-title a{
  text-decoration: none;
}

/******************
 * footer style *
******************/

#content-footer {
  padding: 2em 0;
  background-color: #7f8c8d;
  text-align: center;
}

#content-footer > p {
  color: white;
  font-size: 1em;
}


/* Media Query */

@media only screen and (max-width: 1024px) {
  
}

@media only screen and (max-width: 768px) {
  
}

@media only screen and (max-width: 480px) {
  .work-image {
    width: 80%;
    height: 10em;
    border: 8px solid black;
  }
}

@media only screen and (max-width: 320px) {
  .work-image {
    width: 80%;
    height: 10em;
    border: 8px solid black;
  }
}
